.padrao {
    margin: 0 auto;
    max-width: 90%;
    padding: 40px 40px;
}

.distancia-direita10 {
    margin-right: 10px;
}

.distancia-produto {
    margin-bottom: 10px;
}

.box-quantidade {
    margin-left: 5px;
    margin-right: 5px;
    max-width: 110px;
}

.box-quantidade {
    margin-right: 5px;
    max-width: 110px;
}
